# Assignment

here comes info about the assignment

## Import libraries

here come all the imported libraries

In [153]:
import pandas as pd
from pathlib import Path
import numpy as np
import math
import scipy
from scipy.signal import find_peaks
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas as gpd

## Part I - Data import

Here comes the first part of the assignment. Importing the filtered data. Create a dataframe.
Show the data in a table.

In [154]:
file_path1 = 'GHG.csv'
file_path2 = 'NOx_data.csv'
file_path3 = '2.5.csv'
file_path4 = '10.csv'


df_GHG = pd.read_csv(file_path1, sep = ';',encoding='ISO-8859-1')
df_NOx = pd.read_csv(file_path2, sep = ';',encoding='ISO-8859-1')
df_twofive = pd.read_csv(file_path3, sep = ';',encoding='ISO-8859-1')
df_ten = pd.read_csv(file_path4, sep = ';',encoding='ISO-8859-1')

# The file had an incorrect delimiter which caused a ParserError,
# this is solved by adding sep=';' when reading the file. 
# This file also gave some UnicodeDecodeErorr, this is solved 
# by using encoding='ISO-8859-1'

In [155]:
df_GHG

   Greenhouse gasses        2020  Unnamed: 2        2019
0            Belgium     -480.47         NaN      -334.9
1           Bulgaria   -9,365.55         NaN   -9,405.54
2            Czechia    7,778.07         NaN   11,267.85
3            Denmark    2,953.37         NaN    3,101.71
4            Germany   -6,822.26         NaN    4,196.84
5            Estonia    1,149.49         NaN    2,509.07
6            Ireland    6,657.07         NaN    7,042.45
7             Greece   -5,400.73         NaN   -5,416.18
8              Spain  -45,229.39         NaN  -44,094.76
9             France  -18,226.97         NaN  -21,621.85
10           Croatia   -5,735.84         NaN   -5,666.79
11             Italy  -41,837.02         NaN  -32,544.72
12            Cyprus     -297.04         NaN     -298.54
13            Latvia   -2,292.90         NaN      801.49
14         Lithuania   -5,882.69         NaN   -6,636.06
15        Luxembourg     -363.59         NaN     -447.65
16           Hungary   -5,388.05         NaN   -7,109.55
17             Malta        5.72         NaN        8.28
18       Netherlands    4,175.89         NaN    4,142.38
19           Austria    2,132.47         NaN   -5,222.20
20            Poland  -18,294.50         NaN  -18,957.85
21          Portugal   -4,498.54         NaN   -4,707.12
22           Romania  -48,222.60         NaN  -50,406.76
23          Slovenia   -3,344.82         NaN   -3,142.73
24          Slovakia   -5,514.80         NaN   -7,695.33
25           Finland   -6,716.30         NaN   -9,112.97
26            Sweden  -38,255.64         NaN  -41,286.62
27           Iceland    9,410.69         NaN    9,421.15
28            Norway  -15,288.86         NaN  -19,172.68
29       Switzerland   -1,766.42         NaN   -1,426.68

In [156]:
#time to filter the imported data. Delete the empty column, switch the columns in chronological orders.

## Part II - Data processing

Peak finding. Check of common peaks between data sets.

2. Which substance's emissions decreased the most GHG, PM10, PM2.5 or NOx?

In [157]:

# Creating a bar plot of a column against another column
# Assuming you want to plot 'values' against 'categories'
sns.barplot(x='Greenhouse gasses', y='2020', data=df_GHG)

# Adding title and labels
plt.title('Bar Plot of GHG')
plt.xlabel('Countries')
plt.ylabel('Emissions of GHG')

# Display the plot
plt.show()

TypeError: Neither the `x` nor `y` variable appears to be numeric.

## Part III - Data visualisation

Conclusion. Relate found info from Part II to our RQ. Perhaps with graphs, maps, etc.